<!DOCTYPE html>
<html lang = "en">
<head>
	<title>{% block title %}MMM: Michigan Mobile Manufactory{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le styles -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="/static/js/html5shiv.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="/static/ico/favicon.png">
	{% block style %}{% endblock %}
</head>

<body>
	{% block navbar %}
	<div class = "wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">Michigan Mobile Manufactory</a>
				<div class="nav-collapse collapse">

					<ul class="nav nav-tabs nav-justified">

						<li {% ifequal request.path '/' %}class="active"{% endifequal %}><a href="/">Home</a></li>
						
						{% if request.user.is_authenticated %}
						<li {% ifequal request.path|cut:'/profile/' request.user.id|slugify|add:'/' %}class="active"{% endifequal %}><a href="/profile/{{ request.user.id }}/">My Profile</a></li>
						<li class="pull-right my-username dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {{ request.user.username }} <b class="caret"></b></a>
				          	<ul class="dropdown-menu">
					            <li><a href="/logout">Log Out</a></li>
				          	</ul>
						</li>
						{% else %}
						<li {% ifequal request.path '/login/' %}class="active"{% endifequal %}><a href="/login/">Log In</a></li>
						{% endif %}
						{% if request.user.is_authenticated %}
						 <li class="pull-right project-filters dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter projects <b class="caret"></b></a>
						<ul class="dropdown-menu">
		              			<li class="nav-header"><h6>Add/Remove filters</h6></li>
						<form id="filterForm" method="get" action="/" enctype="multipart/form-data">
						{% for category in category_list %}
							<li class="nav-header">{{ category.category_top.name }}</li>	
							{% for category_sub in category.category_sub_list %}
							{% for key,value in cat_sub_checked_dict.items %}
							{% if key == category_sub %}
							{% if request.user.is_authenticated %}
								{% if value %}
								<input type="checkbox" name="f_category_subs" value="{{ category_sub.id }}" id="filter-checkbox" checked>{{ category_sub.name }} 
								{% else %}
								<input type="checkbox" name="f_category_subs" value="{{ category_sub.id }}" id="filter-checkbox" >{{ category_sub.name }}
								{% endif %}
								{% else %}
								<input type="checkbox" name="f_category_subs" value="{{ category_sub.id }}" id="filter-checkbox" disabled>{{ category_sub.name }}
								{% endif %}
								{% endif %}
							{% endfor %}
								<br />
							{% endfor %}
						{% endfor %}
						<br />
						<li class="nav-header">Custom Filters</li>
						{% if bookmarked %}
						<input type="checkbox" name="bookmarked" id="bookmarked-checkbox" checked>Bookmarked<br />
						{% else %}
						<input type="checkbox" name="bookmarked" id="bookmarked-checkbox">Bookmarked<br />
						{% endif %}
						<br />
						{% if additional_filter %}
						<input type="text" style = "margin-left:5%" class="input-block searchBox" name="additional_filter" id="additional-filter" placeholder="Additional filter" value="{{ additional_filter }}">
						{% else %}
						<input type="text" style = "margin-left:5%"  class="input-block searchBox" name="additional_filter" id="additional-filter" placeholder="Additional filter">
						{% endif %}
						<br />
						<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
						<!-- {% csrf_token %} -->
						</form>
					

	
	
            
		 					<li><a href="#">Clear all</a></li>
						</ul>	
						{% endif %}	
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	{% endblock %}

	{% block error_message %}
	
	{% if message_type and message_type != 'none' %}
	<div class="alert {{ message_type }}" style = "width:80%; margin-left:10%; margin-right:10%"> {{ message_contents }} </div>
    {% endif %}

	{% endblock %}

	{% block content %}{% endblock %}

	{% block footer %}
	<div class = "footer">
		<hr>

			<p>&copy; 2014 Michigan Mobile Manufactory</p>
		</div>
	{% endblock %}
	</div>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	{% block script %}{% endblock %}
</body>
</html>
