{% extends "base.html" %}
{% block style %}
	<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block filter-form %}
	<div id = "filtersDrop" style = "width:100%; background-color:black; margin-top:0; {% if not filter_open %}display:none;{% endif %} color:gray">
		<form id="filterForm" style = "margin:0; padding-top:8px; padding-bottom:8px" method="get" action="/" enctype="multipart/form-data">
		{% for category in category_list %}
		<div style = "display:inline-block">
			<li class="nav-header" style = "display:inline-block">{{ category.category_top.name }}</li>	
			{% for category_sub in category.category_sub_list %}
			{% for key,value in cat_sub_checked_dict.items %}
			{% if key == category_sub %}
			{% if request.user.is_authenticated %}
				{% if value %}
				<input type="checkbox" class = "dropbox" name="f_category_subs" value="{{ category_sub.id }}" id="filter-checkbox" checked>{{ category_sub.name }} 
				{% else %}
				<input type="checkbox" class = "dropbox" name="f_category_subs" value="{{ category_sub.id }}" id="filter-checkbox" >{{ category_sub.name }}
				{% endif %}
				{% else %}
				<input type="checkbox"  class = "dropbox" name="f_category_subs" value="{{ category_sub.id }}" id="filter-checkbox" disabled>{{ category_sub.name }}
				{% endif %}
				{% endif %}
			{% endfor %}
				
			{% endfor %}
			</div></br>
		{% endfor %}
		<li class="nav-header" style = "display:inline-block">Custom Filters</li>
		{% if bookmarked %}
		<input type="checkbox" class = "dropbox" name="bookmarked" id="bookmarked-checkbox" checked>Starred<br />
		{% else %}
		<input type="checkbox" class = "dropbox" name="bookmarked" id="bookmarked-checkbox">Starred<br />
		{% endif %}
		
		{% if additional_filter %}
		<input type="text" style = "margin-left:1%; width:20%" class="input-block searchBox" name="additional_filter" id="additional-filter" placeholder="Additional filter" value="{{ additional_filter }}">
		{% else %}
		<input type="text" style = "margin-left:1%; width:20%"  class="input-block searchBox" name="additional_filter" id="additional-filter" placeholder="Additional filter">
		{% endif %}
		<br />
		<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
		<input type="hidden" name="from" value="form">
		</form>
	</div>

{% endblock %}

{% block filter-push %}
	<div id = "filterPusher" style = "{% if not filter_open %}display:none{% endif %}">
	<!-- empty div here size of the filter div -->
	</div>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span7" style = "margin:0; margin-top:.2%">

				<div class="row-fluid my-news-feed" style = "margin-left:37%">

					<!-- if we use this hover pop up, we need to limit # of words/characters displayed in descripton -->
					{% for project in projects %}
					{% if request.user.is_authenticated %}
					<div class="span8" style = "margin-left:2%; width:100%">
					{% else %}
					<div class="span8 span8absheight" style = "margin-left:2%; width:100%">
					{% endif %}
					<div class = "span4 picBox" >
  
					<img src="{% if project.image %}{{ project.image.url }}{% else %}/static/img/myPictures/defaultProjectPic.jpg{% endif %}" class = "pull-right img-rounded projPic">
        
  						</div>
						
						<a href="/{% if project in bookmarkedProjects %}unbookmark{% else %}bookmark{% endif %}/{{ project.id }}/"> <i class="{% if project in bookmarkedProjects %}icon-star{% else %}icon-star-empty{% endif %} pull-right"></i></a>

						<h2 class="title">{{ project.title }}</h2>
							{% if request.user.is_authenticated %}
							<div class = "feeditemLogged">
								<p class = "feedText">{{ project.description }}</p>
								<p style = "display:inline-block"><strong>Sponsor:</strong>
									{% for id, sponsor in project_sponsors %}
										{% ifequal id project.id %}
											{{ sponsor.full_name }}
										{% endifequal %}
									{% endfor %}
								</p>
								<br>
								<p style = "display:inline-block"><strong>Filters:</strong>
									{% for id, categorys in project_filters %}
										{% ifequal id project.id %}
											{% for category in categorys %}
												{% if forloop.counter0 < 5 %}
													{{ category.name }}{% if not forloop.last %}, {% endif %}
												{% endif %}
												{% if forloop.counter0 == 5 %}
													...
												{% endif %}
											{% endfor %}
										{% endifequal %}
									{% endfor %}
								</p>
								<p><a class="btn" href="project/{{ project.id }}" style = "bottom:0">View details &raquo;</a></p>
							{% else %}
							<div class= "feedItem">
								<div class = "prompt well">
									<a href="/login">
										<button class = "btn btn-info">Log in to view details </button>
									</a>
								</div>
								<p class = "blur feedText"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus Donec id elit non mi porta gravida at eget metus. </p>
								<p style = "display:inline-block"><strong>Filters:</strong>
									{% for id, categorys in project_filters %}
										{% ifequal id project.id %}
											{% for category in categorys %}
												{% if forloop.counter0 < 5 %}
													{{ category.name }}{% if not forloop.last %}, {% endif %}
												{% endif %}
												{% if forloop.counter0 == 5 %}
													...
												{% endif %}
											{% endfor %}
										{% endifequal %}
									{% endfor %}
								</p>

								<p><a class="btn" href="project/{{ project.id }}" style = "bottom:0">View details &raquo;</a></p>
							{% endif %}
							</div>
					</div><!--/span-->
					{% endfor %}
				</div><!--/row-->
			</div><!--/span-->
		</div><!--/row-->

		<!-- New Project Modal -->
		{% if request.user.is_authenticated %}
		<div id="newProjModal" style="height:auto: max-height:90%; overflow-y:auto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">New Project</h3>

			</div>
			<form  method="post" action="/new_project/" enctype="multipart/form-data">
				<div class="modal-body" style="max-height: none;">
					<input type="text" name="title" class="input-block" placeholder="Title"><br>
					<div> 
						<h5>Upload an image for your project</h5>
						<input type = "file" class = "" name="image">
					</div>
					<h5>Check all categories this project falls under</h5>
						<div class = "row checkColumn">
							{% for category in category_list %}
							<div class="checkColumn">
								<li class="nav-header">{{ category.category_top.name }}</li>
								{% for category_sub in category.category_sub_list %}
									<input type="checkbox" name="category_subs" value="{{ category_sub.id }}">{{ category_sub.name }} <br />
								{% endfor %}
							</div>
							{% endfor %}
						</div>
					<textarea name="description" placeholder="Description"></textarea><br />
					<input checked type="checkbox" name="in_gallery" value="true"> Show in Gallery after Completed <br />
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<input type="submit" class="btn btn-info" value="Submit" />
				</div>
				{% csrf_token %}
			</form>
		</div>
		{% endif %}
		</div>
		</div>
		<div class = "push"></div>

		<!-- essential for sticky footer -->
{% endblock %}

{% block script %}
	<script src="/static/js/landing.js"></script>
{% endblock %}
