{% extends "base.html" %}
{% block style %}
	<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class = " container">
		<div class = "row-fluid headRow">
			<div class = "span4 picBox">
							<input type = "file" class = "picChange" style="display:none">
				<img src="{% if userInfoObj.image %}{{ userInfoObj.image.url }}{% else %}/static/img/myPictures/profile.png{% endif %}" class = "pull-right img-rounded profPic">
			</div>
			<div class = "span8">
				<div class = "well nametag">
					<h3 class = "name infoBox"> {{ user.first_name }} {{ user.last_name }} </h3>
					<h5 class = "major infoBox"> {{ userInfoObj.major }} </h5>
				    <button type = "button" class = "btn pull-right" id="editButton"> Edit</button>
				    <button type="button" class = "btn pull-right editFields" id = "submitButton" style="display:none"> Submit </button>
        			<button type="button" class = "btn pull-right editFields" id = "cancelButton" style="display:none"> Cancel </button>

				</div>
			</div>
		</div>
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<div class = "well">
					<h5>About</h5>
					<div class="infoBox" id = "aboutBox">
					{{ userInfoObj.bio }}
					</div>
				</div>
			</div>
		</div>

<!-- 		{% if userInfoObj.org_bio %}
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<div class = "well">
					<h5>Organization: {{ userInfoObj.org_name }}</h5>
					{{ userInfoObj.org_bio }}
				</div>
			</div>
		</div>
		{% endif %} -->

	</div>
	 <!-- THIS FORM BELOW IS FOR SUBMITTING CHANGES TO PROFILE, values are filled on click of submit -->
   <div id="hiddenForm" style = "display:none">
   	<form id="profileEditForm" method="post">
   	<input type="hidden" name = "nameData" id= "hiddenName" >
   	<input type="hidden" name = "majorData" id = "hiddenMajor" >
   	<textarea type="hidden" name = "aboutData" id = "hiddenAbout" ></textarea>
   	</form>
   </div>
{% endblock %}
{% block script %}
	<script src="/static/js/profile.js"></script>
{% endblock %}