{% extends "base.html" %}
{% block style %}
	<link href="/static/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class = " container">
		<div class = "row-fluid headRow">
			{% if userInfo.image %}
			<div class = "span4 picBox">
				<img src="{{ userInfo.image.url }}" class = "pull-right img-rounded profPic">
			</div>
			{% endif %}
			<div class = "span8">
				<div class = "well nametag">
					<h3 class = "name"> {{ user.first_name }} {{ user.last_name }} </h3>
					{% if userInfo.is_developer and developerInfo.major %}
					<h5 class = "major"> {{ developerInfo.major }} </h5>
					{% endif %}
					{% if userInfo.is_sponsor and sponsorInfo.org_name %}
					<h5 class = "org_name"> {{ sponsorInfo.org_name }} </h5>
					{% endif %}
					<button type = "button" class = "btn pull-right"> Edit</button>
					{% if userInfo.is_developer and userInfo.is_sponsor %}
					<h5 class = "userType"> Developer/Sponsor </h5>
					{% else %}
						{% if userInfo.is_developer %}
					<h5 class = "userType"> Developer </h5>
						{% endif %}
						{% if userInfo.is_sponsor %}
					<h5 class = "userType"> Sponsor </h5>
						{% endif %}	
					{% endif %}

				</div>
			</div>
		</div>
		{% if userInfo.is_developer and developerInfo.bio %}
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<div class = "well">
					<h5>Bio</h5>
					{{ developerInfo.bio }}
				</div>
			</div>
		</div>
		{% endif %}

		{% if userInfo.is_sponsor and sponsorInfo.org_name and sponsorInfo.org_bio %}
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<div class = "well">
					<h5>Organization: {{ sponsorInfo.org_name }}</h5>
					{{ sponsorInfo.org_bio }}
				</div>
			</div>
		</div>
		{% endif %}

		{% if userInfo.is_developer and developerInfo.skills %}
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<div class = "well">
					<h5>Skills</h5>
					{{ developerInfo.skills }}
				</div>
			</div>
		</div>
		{% endif %}

		{% if userInfo.is_developer and developerProjects %}
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<div class = "well">
					<h5>Projects</h5>
					<ul>
						{% for project in developerProjects %}
						<li><a href="/project/{{ project.id }}/"> {{ project.title }} </a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}

	</div>
{% endblock %}