{% extends "base.html" %}
{% block style %}
	<link href="/static/css/projDetails.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class = "container">
		<form id="projectEditForm" method="post" action="/project/{{ project.id }}/" enctype="multipart/form-data">
			<div class = "row-fluid headRow">
				<div class = "span4 picBox" >
					<img src="{% if project.image %}{{ project.image.url }}{% else %}/static/img/myPictures/defaultProjectPic.jpg{% endif %}" class = "pull-right img-rounded projPic">
				</div>
				
				<div class = "span8">
					<div class = "well projTag">
						<h3 class = "name infoBox" id = "titleBox"> {{ project.title }} </h3>
						<h5 class = "sponsor"><a href="/profile/{{ project.sponsor.id }}/"> {{ sponsor.full_name }} </a></h5>
						<h5 class = "date"> {{ project.date_posted }} </h5>
						<button type = "button" class = "btn pull-right btn-info" href="#applyModal" data-toggle="modal" id = "applyButton"> Apply</button>
						<a type = "button" class = "btn pull-right favorite" id = "favoriteButton" href="/{{ is_bookmarked|yesno:"unbookmark,bookmark" }}/{{ project.id }}/"> <i class="{{ is_bookmarked|yesno:"icon-star,icon-star-empty" }} pull-right"></i></a>

						{% if request.user == project.sponsor %}
						<button type = "button" class = "btn pull-right edit" id = "editButton" >Edit</button>
						<button type="button" class = "btn pull-right editFields" id = "submitButton" style="display:none"> Submit </button>
	        			<button type="button" class = "btn pull-right editFields" id = "cancelButton" style="display:none"> Cancel </button>
	        			{% endif %}

						<h5 class = "status"> {% ifequal project.status 'OP' %} Open {% endifequal %}{% ifequal project.status 'CL' %} Closed {% endifequal %}{% ifequal project.status 'CO' %} Completed {% endifequal %} </h5>
						<div class = "statusForm" style = "margin-left:3%; display:none">
							<input {% ifequal project.status 'OP' %}checked{% endifequal %} type="radio" name="status" value="OP" style = "margin:0">Open &nbsp
							<input {% ifequal project.status 'CL' %}checked{% endifequal %} type="radio" name="status" value="CL" style = "margin:0">Closed
							<input {% ifequal project.status 'CO' %}checked{% endifequal %} type="radio" name="status" value="CO" style = "margin:0">Completed <br>
		 					<input {{ project.show_in_gallery|yesno:"checked," }} type="checkbox" name="in_gallery" value="true" style = "margin:0">Display in gallery
						</div>
					</div>
				</div>
			</div>
			<div class = "row-fluid">
				<div class = "span8 offset2">
					<div class = "well">
						<h5>Description</h5>
						<div class = "infoBox" id = "descriptionBox">
						{{ project.description }}
						</div>
					</div>
				</div>
			</div>
			<div class = "row-fluid">
				<div class = "span8 offset2">
					<div class = "well" id = "filters">
						<h5>Filters</h5>
						<ul>
						{% for category_sub in category_subs %}
							<li> {{ category_sub.name }} </li>
						{% endfor %}
						</ul>
					</div>
				  	<div class="well" id ="filterOptions" style ="display:none; overflow:hidden">
				  		<h5>Filters</h5>
				  		{% for category in category_list %}
	  					<div class = "checkColumn" style="float:left; margin-right:10px">
	  						<li class="nav-header">{{ category.category_top.name }}</li>
								{% for category_sub in category.category_sub_list %}
									<input {% if category_sub.id in category_sub_ids %}checked{% endif %} type="checkbox" name="category_subs" value="{{ category_sub.id }}">{{ category_sub.name }} <br />
								{% endfor %}
	          			</div>
	          			{% endfor %}
				  	</div>
				</div>
			</div>
			<input type="hidden" name="title" id="hiddenTitle" >
		   	<textarea type="hidden" name="description" id="hiddenDescription" style="display:none"></textarea>
		   	<input type="file" name="image" class="picChange" style="display:none">
		   	{% csrf_token %}
	   	</form>
		<div class = "row-fluid">
			<div class = "span8 offset2">
				<div class = "well">
					<h4> Comments </h4>
					<form method="post" action="/new_comment/">
						<div>
							<textarea name="comment" class="media" style="width:98%" placeholder="New comment..."></textarea>
							<input type="submit" class="btn post" value="Post"></input>
						</div>
						<input type="hidden" name="proj_id" value="{{ project.id }}"></input>
						{% csrf_token %}
					</form>
					{% for commentObj in commentsObj %}
					<div class="media">
				  		<a class="pull-left" href="/profile/{{ commentObj.comment.user.id }}/">
							<img class="media-object" src="{% if commentObj.commenter.image %}{{ commentObj.commenter.image.url }}{% else %}/static/img/myPictures/defaultProfPic.jpg{% endif %}" alt="..." >
						</a>
						<div class="media-body">
							<!-- edit/delete comment should only appear if you are signed in -->
							{% ifequal request.user commentObj.comment.user %}
							<div class = "pull-right">
								<a href="/delete_comment/{{ project.id }}/{{ commentObj.comment.id }}/"><i class = "icon-trash"></i>&nbsp</a>
							</div>
							{% endifequal %}
							<h5 class="media-heading"><a href="/profile/{{ commentObj.comment.user.id }}/"> {{ commentObj.commenter.full_name }} </a></h5> <li class = "postDate" >- {{ commentObj.comment.date_posted }}</li>
							<p>{{ commentObj.comment.text }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div id="applyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Apply for this project</h3>
		</div>
		<form method="post" action="/apply_project/">
			<div class="modal-body">
				<textarea name="message" placeholder="Message to sponsor"></textarea>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<input type="submit" class="btn btn-info" value="Submit" />
			</div>
			<input type="hidden" name="proj_id" value="{{ project.id }}"></input>
			{% csrf_token %}
		</form>
	</div>


{% endblock %}
{% block script %}
	<script src="/static/js/projDetails.js"></script>
{% endblock %}